{% extends 'news/base.html' %}

{% block content %}
<main class="mainAddPost">
	<h1 class="headPostTitle">{{ title }}</h1>
	<form action="{% url 'addPost' %}" method="post" enctype="multipart/form-data" >
	{% csrf_token %}

	<div class="mainError">{{ form.non_field_errors }}</div>
	<div class="fieldFormAddPost">
		{% for f in form %}
		<p class="formAddPost">
			<label class="titleAddPost" for="{{ f.id_for_label }}">{{f.label}}:</label>
				<p>{{f}}</p></p>
				<!-- <p class="formAddPost"><label class="titleAddPost" for="{{ f.id_for_label }}">{{f.label}}:</label>
						<span class="fieldAddPost">{{ f }}</span></p> -->
				<div class="labelError">{{ f.errors }}</div>
				{% endfor %}
	</div>

	

	<button class="buttonAddPost" type="submit">Добавить</button>
</form>
</main>

{% endblock %}