{% extends 'news/base.html' %}

{% block content %}

<main class="mainNews" id="main_news">
	<!-- {% include 'news/mainInformation.html' %} ВКЛЮЧИТЬ --> 
	<div class="posts" >
		<ul id='content' >

	
		</ul>
	</div> 

	
<script src="../../static/news/js/feed.js"> </script>
<!-- <script src="../../static/imakewebthings-waypoints-34d9f6d/lib/noframework.waypoints.min.js"></script>
<script src="../../static/news/js/jquery-3.6.0.min.js"></script>
<script src="../../static/imakewebthings-waypoints-34d9f6d/src/shortcuts/infinite.js"></script> -->



</main>












<!-- <script>
var xhr = new XMLHttpRequest();

// function go() {
//   xhr.open('GET', 'http://127.0.0.1:8000/json', false);
// 	xhr.send();
// 	document.getElementById("hhh").innerHTML = xhr.responseText;
// 	//alert("11111");
// }
function loadPost() {
var xhr = new XMLHttpRequest();
xhr.open('GET', 'http://127.0.0.1:8000/json', true);

xhr.onreadystatechange = function() {
			if (xhr.status != 200) {
				// обработать ошибку
				alert(xhr.status + ': ' + xhr.statusText);
			} else {
				// вывести результат
				// alert(xhr.responseText);
			}

		}

		xhr.send();

}

</script> -->


	<!-- /*		
				{% for p in posts %}
	
					<a href="{{ p.get_absolute_url }}">
						<li>
							<div class="post">
								<div class="img__post">
	
									{% if p.image %}
										<img class="image__post" src="{{p.image.url}}">
									{% endif %}
							</div>
								<div class="text__post">
									<div class="content__post">
									<h1 class="headPostTitle">{{ p.title }}</h1>
									<p class="dataPost">{{p.time_create_post|date:"d.m.Y H:i"}}</p>
									<p class="headPostContent">{{p.content|truncatewords:70}}</p> 
								</div>
							</div>
						</div>
						</li>
					</a>
				{% endfor %} 
				-->
{% endblock %}
