<div class="main__information">
	<div class="block__information">
		<div class="additional__block">
			<p class="left__information">
				<span><img class="logo__information" src="../../static/news/images/info.svg "></span>
				
					<div class="dollar">
						<p class="header__currency">Доллар</p>
						<p class="text__currency">
							<span class="left__text__currency">110,14p</span>
							<span class="rigth__text__currency">84,04р</span>
						</p>
					</div>
					<div class="euro">
						<p class="header__currency">Евро</p>
						<p class="text__currency">
							<span class="left__text__currency">125,11p</span>
							<span class="rigth__text__currency">65,04р</span>
						</p>
					</div>
					<div class="bitcoin">
						<p class="header__currency">Биткоин</p>
						<p class="bitcoin__text__currency">39 058,50$</p>
					</div>
			</p>
		</div>
		<div class="rigth__information">
			<div class="last_news">
				<p class="text__last__news">последняя новость</p>
				<p class="link__last__news">
					<a href="#">Илон Маск представил план покупки Twitter. Больше половины средств планируется взять в кредит1234451</a>
				</p>
			</div>


		</div>
	</div>
</div>