
<div class="main__information">
	<div class="block__information">
		<div class="additional__block">
			<div class="left__information__smart">
				<img class="logo__information" src="../../static/news/images/info.svg ">
			</div>
		</div>
		<div class="rigth__information__smart">
			<p class="titleInformation">Как мы подбираем смартфон?</p>
			<p class="information">Вы выбираете параметры смарфтона, далее наш алгоритмы ищет в базе данных совпадения, если они найдено, то Вы покажем результат, иначе, мы уберем менее значимый параметр смартфона и снова попробуем найти результат</p>
		</div>
	</div>
</div>