<div class="main__information__result">
	<div class="block__information__smart">
		<div class="additional__block">
			<div class="left__information__smart">
				<img class="logo__information__Result" src="../../static/news/images/mobaleH.svg ">
			</div>
		</div>
		<div class="rigth__information__smart">
			<p class="titleInformation">По каким параметрам мы подобрали смартфон?</p>
			<p class="information">Мы смогли подобрать смартфон по следующим параметрам: {{tags}}</p>
		</div>
	</div>
</div>