<div class="main__information__result">
	<div class="block__information__smart">
		<div class="additional__block">
			<div class="left__information__smart">
				<img class="logo__information__Result" src="../../static/news/images/mobaleS.svg ">
			</div>
		</div>
		<div class="rigth__information__smart">
			<p class="titleInformation">Мы не смогли подобрать для Вас смартфон</p>
			<p class="information">Вы не указали никаких параметров для выбора смартфона, поэтому мы предлагаем Вам посмотреть на все смартфоны из нашей базы данных или же указать нужные для Вас параметры <a href="../sds">странице "Выбор смартфона"</a></p>
		</div>
	</div>
</div>

