<div class="main__information__mybe">
	<div class="block__information__mybe">
		<div class="additional__block">
			<div class="left__information__smart">
				<img class="logo__information" src="../../static/news/images/question.svg ">
			</div>
		</div>
		<div class="rigth__information__smart">
			<p class="titleInformation__mybe">Возможно Вам понравятся наши предложения</p>
			<p class="content__mybe">на основе Ваших интересов</p>
			<!-- <p class="information">По подобрали еще смартфоны для Вас, в которых имеются 5 ваших  </p> -->
		</div>
	</div>
</div>