.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.55);
	top:0;
	left:0;
	line-height: normal;
	user-select: none;
	opacity: 0;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	visibility: hidden;
	transition: all 0.8s ease 0s;
}

.popup.target{
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content{
	transform:perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup__body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content{
	background-color: #ffffff;
	color:#333333;
	width: 1082px;
	height: 595px;
	border-radius: 20px;
	padding:40px;
	position: relative;
}
.popup__close{
	position: absolute;
	right: 20;
	top:15;
	background-color: rgba(51, 51, 51, 0.1);
	color:white;
	border-radius: 50%;
	padding: 5px 11px;

	-webkit-transition: all .2s ease-in-out,
	transform .2s ease-in-out;
	-moz-transition: all .2s ease-in-out,
	transform .2s ease-in-out;
	-ms-transition: all .2s ease-in-out,
	transform .2s ease-in-out;
}

.popup__close:hover{
	background-color: rgba(51, 51, 51, 0.5);
}
.popup__title{
	font-size: 1.5rem;
	text-align: center;
	font-weight: 600;
	color:#FF7A00;
	margin:0;
	padding:0;
}

.popup__pod__title{
	font-weight: 300;
	color:rgba(51, 51, 51, 0.5);
	padding:0;
	margin: 5px 0 0 0;
	text-align: center;
}

.popup__shops{
	margin: 35 40 40;
}

.shops__one__group{
	left:50%;
}

.shops__one__group a{
	left:50%;
}